.date-pane,
.date-pane > time {
  display: flex;
  flex-direction: column;
}

.date-pane > time {
  margin-bottom: .8rem;
}

.date-pane__day {
  font-size: 1.6em;
  font-weight: 300;
}

.date-pane__month {
  letter-spacing: .1em;
}