.title_bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.title_bar__app_title {
  font-weight: 300;
  font-size: 2em;
}

.title_bar__button_group {
  display: flex;
}

.title_bar__button_group
.button:not(:last-child) {
  margin-right: 1rem;
}

.title_bar__button_group
.button {
  align-items: center;
  display: flex;
}